@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Custom User project</h1>
    <p>“Bad decisions make good stories.”</p>
</div>

