@page
@model TaskingBoss.Pages.QA.IndexModel
@{
    ViewData["Title"] = "QA";
}


<div class="w-100 text-center">

    <h3>QA</h3>
    <hr />

</div>


<div class="row w-100">

    @foreach (var task in Model.QaTasks)
    {
        <partial name="_QaTaskCard" model="task" />
    }

</div>