@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Are you sure you want to log out?</p>

    <form method="post">
        <button class="btn btn-outline-primary" type="submit" asp-route-returnUrl="/Index">Yes</button>
    </form>
</header>