<!DOCTYPE html>
<html lang="en">

<partial name="_LayoutHead" />    

<body>

    <div class="container">
        <main role="main" class="">
            <div class="row justify-content-center">
                @RenderBody()
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
