<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row justify-content-center">
            @*@RenderSection("footer", required: false)*@

            @*<vc:task-count></vc:task-count>*@
            <span>&copy; 2020 - TaskingBoss</span>

        </div>
    </div>
</footer>