<!DOCTYPE html>
<html lang="en">

<partial name="_LayoutHead" />    

<body>

    <partial name="_LayoutHeader" />

    <div class="container-fluid">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <partial name="_LayoutFooter" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
