@page "{taskId}"

@model TaskingBoss.DeleteModel
@{
    ViewData["Title"] = "Delete task";
}


<div class="w-100 text-center">

    <h3>Delete task!</h3>
    <hr />

    <div class="alert alert-danger">
        Are you sure you want to delete task "@Model.Task.Title"?
    </div>

</div>




<form method="post">
    <button type="submit" class="btn btn-outline-danger">Yes!</button>
    <a asp-page="./List" class="btn btn-outline-secondary">Cancel</a>
</form>
