@page "{taskId:int?}"

@model TaskingBoss.EditModel
@{
    ViewData["Title"] = "Edit / New task";
}



    <div class="col-md-8 border border-secondary rounded m-2 p-3">

        @if (string.IsNullOrEmpty(Model.Task.Title))
        {
            <h3>New task</h3>
        }
        else
        {
            <h3>Editing task "@Model.Task.Title"</h3>
        }

        <form method="post" id="edit-form">
            <input type="hidden" asp-for="Task.Id" />

            <div class="form-group">
                <label asp-for="Task.Title"></label>
                <input asp-for="Task.Title" class="form-control" />
                <span class="text-danger" asp-validation-for="Task.Title"></span>
            </div>

            <div class="form-group">
                <label asp-for="Task.Description"></label>
                <textarea asp-for="Task.Description" class="form-control" rows="4"></textarea>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label asp-for="Task.Status"></label>
                    <select class="form-control" asp-for="Task.Status" asp-items="@Model.Status"></select>
                </div>
                <div class="col">
                    <label asp-for="Task.Priority"></label>
                    <select class="form-control" asp-for="Task.Priority" asp-items="@Model.Priority"></select>
                </div>
                <div class="col">
                    <label asp-for="Task.StoryPoints">Story Points</label>
                    <select asp-for="Task.StoryPoints" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>5</option>
                        <option>8</option>
                        <option>13</option>
                        <option>20</option>
                        <option>40</option>
                        <option>100</option>
                    </select>
                </div>
            </div>


        </form>

    </div>

    <div class="col border border-secondary rounded m-2 p-3">

        <h5>Actions:</h5>
        <button type="submit" form="edit-form" class="btn btn-outline-success btn-block">Save task</button>

        <hr />
        <a asp-page="#" class="btn btn-outline-secondary btn-block btn-sm">Cancel</a>

    </div>


